{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Language</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Langauge</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Languages</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Languages
							<div class="pull-right">
								<a href="/language/add" class="btn btn-primary">Add Language</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							This is a list of languages supported by the system
						</div>

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Code</th>
									<th scope="col">Description</th>
									<th scope="col">Status</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% for lang in languages %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{lang.language_name}}</td>
									<td>{{lang.language_code}}</td>
									<td>{{lang.description}}</td>
									<td>{% if lang.active %}Yes{%else%}No{%endif%}</td>
									<td><a href="{{ url_for('languages_blueprint.list_words', language=lang.id)}}">
											<i class="fa fa-eye"></i>
											Dictionary
										</a>
										<a href="{{ url_for('languages_blueprint.list_phrases', language=lang.id)}}">
												<i class="fa fa-eye"></i>
												Phrases
											</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<script>
	$('#displayNotif').on('click', function () {
		var placementFrom = $('#notify_placement_from option:selected').val();
		var placementAlign = $('#notify_placement_align option:selected').val();
		var state = $('#notify_state option:selected').val();
		var style = $('#notify_style option:selected').val();
		var content = {};

		content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
		content.title = 'Bootstrap notify';
		if (style == "withicon") {
			content.icon = 'fa fa-bell';
		} else {
			content.icon = 'none';
		}
		content.url = 'index.html';
		content.target = '_blank';

		$.notify(content, {
			type: state,
			placement: {
				from: placementFrom,
				align: placementAlign
			},
			time: 1000,
		});
	});
</script>

{% endblock javascripts %}