{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">View Phrase</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">{{language.name}}</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Word Phrase</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if phrase !=None %}
                            <div class="col-md-12 col-lg-12">
                                <div data-toggle="fieldset" id="phone-fieldset">
                                    <a class="edit-modal-opener" data-toggle="modal"
                                        data-whatever="{{ url_for('languages_blueprint.add_word_phrase_meaning',language=language.id, phrase_id=phrase.id) }}"
                                        href="#">Add Meaning</a>
                                </div>
                                <p>{{phrase.phrase}}</p>
                                <table class="table mt-3">
                                    <thead>
                                        <tr>
                                            <th>Defination</th>
                                            <th>Subscript</th>
                                            <th>Citation</th>
                                            <th>Mood</th>
                                            <th>PoS</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for meaning in phrase.meanings %}
                                        <tr data-toggle="fieldset-entry">
                                            <td>{{ meaning.defination }}</td>
                                            <td>{{ meaning.subscript }}</td>
                                            <td>{{ meaning.mood }}</td>
                                            <td>{{ meaning.citation }}</td>
                                            <td>{{ meaning.part_of_speech }}</td>
                                            <td>
                                                <a
                                                    href="{{ url_for('languages_blueprint.list_words', language=language.id)}}">
                                                    View
                                                </a>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {%else%}
                            <div class="col-md-12 col-lg-12">
                                <p>Phrase not found</p>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="/static/assets/js/setting-demo2.js"></script>

    <script>
        $(function () {
            $("div[data-toggle=fieldset]").each(function () {
                var $this = $(this);

                //Add new entry
                $this.find("button[data-toggle=fieldset-add-row]").click(function () {
                    var target = $($(this).data("target"))
                    console.log(target);
                    var oldrow = target.find("div[data-toggle=fieldset-entry]:last");
                    var row = oldrow.clone(true, true);
                    console.log(row.find(":input")[0]);
                    var elem_id = row.find(":input")[0].id;
                    var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
                    row.attr('data-id', elem_num);
                    row.find(":input").each(function () {
                        console.log(this);
                        var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                        $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                    });
                    oldrow.after(row);
                }); //End add new entry

                //Remove row
                $this.find("button[data-toggle=fieldset-remove-row]").click(function () {
                    if ($this.find("div[data-toggle=fieldset-entry]").length > 1) {
                        var thisRow = $(this).closest("div[data-toggle=fieldset-entry]");
                        thisRow.remove();
                    }
                }); //End remove row
            });
        });
    </script>

    {% endblock javascripts %}